@import './vuetify.scss';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

////////////////////////////////////////////////// 공통 Custom
$appBarHeight: 64px;
$appTagview: 34px;
$cardTitleHeight: 48px;
$serchHeight: 44px;
$doubleserchHeight: 90px;
$paddingHeight: 8px;
$containerTabHeight: 48px;
$gridPagingHeight: 54px;

.container-height {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview}));
}
.containerFull-height {
  height: 100vh;
  // max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview}));
}

//Tree List
.TreeListBox {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + #{$serchHeight} + (#{$paddingHeight} * 5)));
}

// serch 1줄 grid 하나
.listBox {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + #{$serchHeight} + (#{$paddingHeight} * 3)));
}
// grid 하나
.listBox02 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + (#{$paddingHeight} * 3)));
}
// serch 2줄 grid 하나
.listBox03 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + (#{$serchHeight} * 2) + (#{$paddingHeight} * 3)));
}
// serch 1줄 grid 하나 TAB 1줄
.listBox04 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + #{$serchHeight} + #{$containerTabHeight} + (#{$paddingHeight} * 3)));
}
// grid 하나 TAB 1줄
.listBox05 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + #{$containerTabHeight} + (#{$paddingHeight} * 3)));
}
// serch 2줄 grid 하나 TAB 1줄
.listBox06 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + #{$containerTabHeight} + (#{$serchHeight} * 2) + (#{$paddingHeight} * 5)));
}
// serch 1줄 grid 하나 TAB 2줄
.listBox07 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + #{$serchHeight} + (#{$containerTabHeight} * 2) + (#{$paddingHeight} * 3)));
}
// grid 하나 TAB 2줄
.listBox08 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + (#{$containerTabHeight} * 2) + (#{$paddingHeight} * 3)));
}
// serch 2줄 grid 하나 TAB 2줄
.listBox09 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + (#{$containerTabHeight} * 2) + (#{$serchHeight} * 2) + (#{$paddingHeight} * 5)));
}

// serch 3줄 grid 하나
.listBox10 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + (#{$serchHeight} * 3) + (#{$paddingHeight} * 5)));
}

// Tab 2개 serch 3줄 grid 하나
.listBox11 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + (#{$serchHeight} * 3) + (#{$paddingHeight} * 14.7)));
}

// Tab 1개 grid 하나
.listBox12 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + (#{$serchHeight} * 3) + (#{$paddingHeight} * 16.5)));
}
// pop0320화면
.listBox13 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + (#{$serchHeight} * 3) + (#{$paddingHeight} * 19)));
}

// pop0010화면
.listBox14 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + (#{$serchHeight} * 1.4) + (#{$paddingHeight} * 19)));
}
.listBox15 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + (#{$serchHeight} * 1.4) + (#{$paddingHeight} * 32.8)));
}

// grid 두개 TAB 1줄
.doubleListBox {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 2) + (#{$paddingHeight} * 3) + #{$containerTabHeight})) / 2 );
}
// serch 1줄 grid 두개 TAB 1줄
.doubleListBox02 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 2) + #{$serchHeight} + (#{$paddingHeight} * 6) + #{$containerTabHeight})) / 2 );
}
// serch 2줄 grid 두개 TAB 1줄
.doubleListBox03 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 2) + (#{$serchHeight}) + (#{$paddingHeight} * 4) + #{$containerTabHeight})) / 2 );
}
// grid 두개 TAB 2줄
.doubleListBox04 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 2) + (#{$paddingHeight} * 5) + (#{$containerTabHeight} * 2))) / 2 );
}
// serch 1줄 grid 두개 TAB 2줄
.doubleListBox05 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 2) + #{$serchHeight} + (#{$paddingHeight} * 6) + (#{$containerTabHeight} * 2))) / 2 );
}
// serch 2줄 grid 두개 TAB 2줄
.doubleListBox06 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 2) + (#{$serchHeight} * 2) + (#{$paddingHeight} * 8) + (#{$containerTabHeight} * 2))) / 2 );
}
// grid 두개
.doubleListBox07 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 2) + (#{$paddingHeight} * 5))) / 2 );
}
// serch 1줄 grid 두개
.doubleListBox08 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 2) + #{$serchHeight} + (#{$paddingHeight} * 6))) / 2 );
}
// serch 2줄 grid 두개
.doubleListBox09 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 2) + (#{$serchHeight} * 2) + (#{$paddingHeight} * 8))) / 2 );
}
// grid 데이터하나 
.doubleListBox10 {
  height: 100vh;
  max-height: 125px;
}
// grid 데이터하나 + grid full 
.doubleListBox11 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 2) + (#{$paddingHeight} * 8)  + 125px )) );
}

//pop화면(pap0110, pop0120)
.doubleListBox12 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 0.5) + (#{$paddingHeight} * 10.3)  + 125px )) );
}
//pop화면(pop0120)
.doubleListBox13 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 0.5) + (#{$paddingHeight} * 16.3)  + 125px )) );
}
.doubleListBox14 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 0.5) + (#{$paddingHeight} * 53.6)  + 125px )) );
}
.doubleListBox15 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 2) + (#{$paddingHeight} * 33)  + 125px )) );
}

//pop화면(pop0020)
.doubleListBox16 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 0.5) + (#{$paddingHeight} * 15.4) + 125px)));
}

// mat0040
.doubleListBox17 {
  height: 100vh;
  max-height: calc(100vh - (#{$appBarHeight} + #{$appTagview} + #{$cardTitleHeight} + (#{$serchHeight} * 2) + (#{$paddingHeight} * 6)));
}
// mat0050
.doubleListBox18 {
  height: 100vh;
  max-height: calc((100vh - (#{$appBarHeight} + #{$appTagview} + (#{$cardTitleHeight} * 2) + (#{$serchHeight} * 2) + (#{$paddingHeight} * 4) + (#{$containerTabHeight} * 1))) / 2 );
}

.v-card .v-toolbar,
.v-card .v-toolbar__content {
  height: 42px !important;
}

.v-btn:not(.v-btn--round).v-size--default {
  height: 36px;
  min-width: 0px;
  min-width: 0px;
  padding: 0;
}

.v-btn__content {
  color: inherit;
  display: block;
  line-height: normal;
  position: relative;
  transition: inherit;
  transition-property: opacity;
}
//업로드 버튼(bas0020)
.v-btn.upload_btn{
  background-color: #ffffff;
  color: #2b51eb;
  border:1px solid #2b51eb;
}

//저장 버튼(Sys0030Print1)
.v-btn.save_btn{
  background-color: #ffffff;
  margin-right: 6px;
  font-size: 12pt;
  color: #2b51eb;
  border:1px solid #2b51eb;
}

.releaseBtn {
  background-color: rgb(43,81,235);
  margin-right: 6px;
  font-size: 12pt;
  color: white;
}

//POP 상단 공통 타이틀 CSS (pop0010, pop0110)
.header{
  background: linear-gradient( to bottom, #425dc6, #2342bd );
  border-radius:10px;
}

.headerText1{
  font-size: 18pt;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 2px #243883;
}

.headerText2 {
  font-size: 14pt;
  color: rgb(255, 255, 255);
  background:#8496db;
  font-weight: bold;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  padding-right:10px;
  border:1px solid #7e8fd1;
  border-radius:5px;
  margin-left:10px;
}

.headerText3 {
  font-size: 18pt;
  font-weight:bold;
  background:#e8faf3;
  color:#1dce90;
  padding-left:20px;
  padding-right:20px;
  border:1px solid #1dce90;
  border-radius:20px;
}
.headerText3 .green_icon{
  color:#1dce90;
}

.v-text-field>.v-input__control>.v-input__slot {
  cursor: text;
  margin: 0 !important;
}

.v-text-field.v-text-field--solo .v-input__control {
  min-height: 30px !important;
  height: 30px !important;
  padding: 0;
}

.v-text-field__details {
  display: flex;
  flex: 1 0 auto;
  max-width: 100%;
  min-height: 0px;
  max-height: 0px;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
  box-shadow: none;
}

.v-list--nav .v-list-item {
  //padding: 4px 8px;
  margin-bottom: 0 !important;
}

.v-list--nav .v-list-item,
.v-list--nav .v-list-item:before {
  border-radius: 3px !important;
}

.v-list-item {
  align-items: center;
  display: flex;
  flex: 1 1 100%;
  letter-spacing: normal;
  min-height: 0px;
  outline: none;
  position: relative;
  text-decoration: none;
}

.v-list-item--dense .v-list-item__title,
.v-list-item--dense .v-list-item__subtitle,
.v-list--dense .v-list-item .v-list-item__title,
.v-list--dense .v-list-item .v-list-item__subtitle {
  line-height: 1.25rem;
}

.v-list-item .v-list-item__title,
.v-list-item .v-list-item__subtitle {
  line-height: 1.2rem;
  font-size: 0.8125rem !important;//0.9rem 
  font-weight: bold !important;
}

.v-messages {
  flex: 1 1 auto;
  font-size: 12px;
  min-height: 0px;
  min-width: 1px;
  position: relative;
}

.v-sheet.v-card {
  border-radius: 0px;
}

.v-sheet.v-card:not(.v-sheet--outlined) {
  box-shadow: none;
}

.v-input--selection-controls {
  margin: 0px;
}

.container.fill-height>.row {
  flex: 1 1 100%;
  max-width: 100%
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: 0px;
}

.v-tabs-slider-wrapper {
  bottom: 0;
  left: 0;
  margin: 0 !important;
  position: absolute;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  z-index: 1;
}

.v-application .elevation-2 {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.05), 0px 2px 2px 0px rgba(0, 0, 0, 0.02), 0px 1px 5px 0px rgba(0, 0, 0, 0.05) !important;
}

//tab border-bottom 삭제
.v-tabs-slider-wrapper {
  display: none;
}

// .v-slide-group__next,
// .v-slide-group__prev {
//   display: none !important;
// }

// swatches
.vue-swatches__trigger {
  margin-top: 5px;
  border: 1px solid #c7c7c7 !important;
  width: 32px !important;
  height: 32px !important;
}

// scroll-bar
html {
  overflow-y: auto !important;
}

html>::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width:1910px) {
  html>::-webkit-scrollbar {
    display: inherit;
  }
}

::-webkit-scrollbar {
  width: 13px; //세로 막대 너비
  height: 13px; //가로 막대 높이
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid transparent;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); //스크롤바 배경
}

.v-dialog {
  overflow-y: hidden !important;
}

.v-data-table .v-data-table-header {
  th {
    span {
      font-size: 0.875rem !important;
    }
  }
}

// 높이
.vh-10 {
  height: 100vh;
  max-height: 10vh;
}

.vh-20 {
  height: 100vh;
  max-height: 20vh;
}

.vh-30 {
  height: 100vh;
  max-height: 30vh;
}

.vh-40 {
  height: 100vh;
  max-height: 40vh;
}

.vh-50 {
  height: 100vh;
  max-height: 50vh;
}

.vh-60 {
  height: 100vh;
  max-height: 60vh;
}

.vh-70 {
  height: 100vh;
  max-height: 70vh;
}

.vh-80 {
  height: 100vh;
  max-height: 80vh;
}

.vh-90 {
  height: 100vh;
  max-height: 90vh;
}

.vh-100 {
  height: 100vh;
  max-height: 100vh;
}

// 넓이
.vw-10 {
  width: 10vw;
}

.vw-20 {
  width: 20vw;
}

.vw-30 {
  width: 30vw;
}

.vw-40 {
  width: 40vw;
}

.vw-50 {
  width: 50vw;
}

.vw-60 {
  width: 60vw;
}

.vw-70 {
  width: 70vw;
}

.vw-80 {
  width: 80vw;
}

.vw-90 {
  width: 90vw;
}

.vw-100 {
  width: 100vw;
}

//----------------------------------------------------------------------------Vuefity CSS

// input or selector 등의 필수 입력일 경우 색상 표시
.required .v-label {
  color: #033075;
  opacity: 1;
  font-weight: bold;
}

// input or selector 높이, 배경색, 폰트크기 수정
.v-input {
  font-size: 13px;
  // border-radius: 0;
  .v-label {
    font-size: 13px;
  }
}

.v-text-field--filled.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot,
.v-text-field--filled.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot,
.v-text-field--filled.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot,
.v-text-field--full-width.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot,
.v-text-field--full-width.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot,
.v-text-field--full-width.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot,
.v-text-field--outlined.v-input--dense.v-text-field--single-line > .v-input__control > .v-input__slot,
.v-text-field--outlined.v-input--dense.v-text-field--outlined > .v-input__control > .v-input__slot,
.v-text-field--outlined.v-input--dense.v-text-field--outlined.v-text-field--filled > .v-input__control > .v-input__slot {
  min-height: 30px;
  height: 30px;
  background: #fff;
  box-sizing: border-box;
  .v-input__icon {
    height: 16px;
  }
}
.v-input__slot {
  margin: 0;
}
.v-select__slot {
  height: 30px;
}
.v-text-field--outlined.v-input--dense .v-label {
  top: 6px;
}
.v-input--radio-group {
  background-color: inherit;
}
//pageInnerMenu 아이콘 width, margin 값 수정
.v-application--is-ltr .v-list-item__action:last-of-type:not(:only-child),
.v-application--is-ltr .v-list-item__avatar:last-of-type:not(:only-child),
.v-application--is-ltr .v-list-item__icon:last-of-type:not(:only-child) {
  margin: 0 !important;
}
.v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
  min-width: 16px !important;
}

.v-list-item__title {
  letter-spacing: 0.05em;
}

.v-subheader {
  height: auto !important;
}
//---------------------------------------------------------------------------- DevExpress CSS

//그리드 헤더 보더/컬러, 헤더 체크박스 크기 수정
.dx-datagrid-headers,
.dx-header-row:first-child:not(.dx-master-detail-row .dx-header-row, .sec_grid .dx-header-row) {
  background-color: #e5ebf9;
  color: #000;
  font-weight: bold;
  border-top: 2px solid #2b51eb;
  td {
    border-color: #bcc0c9 !important;
  }
}

.dx-datagrid-borders .dx-datagrid-rowsview,
.dx-datagrid-headers + .dx-datagrid-rowsview {
  border-top: 0;
}

.dx-datagrid-borders .dx-datagrid-rowsview,
.dx-datagrid-headers + .dx-datagrid-rowsview,
.dx-treelist-rowsview {
  border-bottom: 2px solid #214885 !important;
}

//sec_grid
.dx-dropdowneditor-overlay {
  .dx-popup-content {
    padding: 8px;
  }
}

.sec_grid {
  .dx-datagrid-headers {
    background: #e8e8eb;
    color: #000;
    font-weight: bold;
    border-top: 0;
  }
  .dx-datagrid-borders .dx-datagrid-rowsview,
  .dx-datagrid-headers + .dx-datagrid-rowsview,
  .dx-treelist-rowsview {
    border-bottom: 0 !important;
  }
  .dx-datagrid .dx-row-alt > td,
  .dx-datagrid .dx-row-alt > tr > td,
  .dx-treelist .dx-row-alt > td,
  .dx-treelist .dx-row-alt > tr > td {
    background-color: #fff;
  }
}

//그리드 페이지 버튼 수정
.dx-pager .dx-page-sizes .dx-selection,
.dx-pager .dx-pages .dx-selection {
  background-color: #ecedf3;
  font-weight: bold;
  color: #214885;
}
.dx-navigate-button {
  color: #214885 !important;
}
.dx-pages {
  margin-right: 35px;
}
//그리드 짝수 row bg 수정
.dx-datagrid .dx-row-alt > td,
.dx-datagrid .dx-row-alt > tr > td,
.dx-treelist .dx-row-alt > td,
.dx-treelist .dx-row-alt > tr > td {
  background-color: #f5f7fb;
}

//그리드 input border값 삭제
.dx-texteditor-input,
.dx-texteditor.dx-editor-outlined {
  border-radius: 0 !important;
}

//그리드 헤더 align 중앙정렬
.dx-treelist-content .dx-treelist-table .dx-row > td,
.dx-treelist-content .dx-treelist-table .dx-row > tr > td {
  vertical-align: middle;
}
.dx-treelist .dx-column-indicators {
  vertical-align: middle;
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td,
.dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
  vertical-align: middle;
}

///그리드 헤더 체크박스 align 중앙정렬
.dx-header-row .dx-template-wrapper {
  display: flex;
}

//그리드 헤더 up, down 화살표 사이즈 수정
.dx-datagrid .dx-sort-down,
.dx-datagrid .dx-sort-up {
  font-size: 12px;
}

///그리드 안 체크박스 중앙정렬
.dx-checkbox-container {
  justify-content: center;
}
///그리드 안 체크아이콘 크기수정
.dx-checkbox-checked .dx-checkbox-icon {
  font-size: 14px;
  background:#2b51eb;
  color:#ffffff;
  border-radius:2px;
  border:1px solid #2b51eb;
}
///그리드 안 체크박스 크기수정
.dx-checkbox-icon {
  width: 15px;
  height: 15px;
}

//그리드 헤더 포인트 font 색상
.dx-header-row .devest-grid-header-require {
  color: #2b51eb !important;
  font-weight: bold;
}

.dx-header-row td[role='columnheader'] {
  text-align: center !important;
}

//그리드 포커스 색상
.dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-edit:not(.dx-focused) .dx-link,
.dx-datagrid-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused),
.dx-datagrid-rowsview .dx-row-focused.dx-data-row > tr > td:not(.dx-focused),
.dx-treelist-rowsview .dx-row-focused.dx-data-row .dx-command-edit:not(.dx-focused) .dx-link,
.dx-treelist-rowsview .dx-row-focused.dx-data-row > td:not(.dx-focused),
.dx-treelist-rowsview .dx-row-focused.dx-data-row > tr > td:not(.dx-focused) {
  background: #99acf5 !important;
  border-bottom: #99acf5 !important;
}

//그리드 전체 font 크기 수정
.dx-widget {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

//master 그리드
.dx-master-detail-row:not(.dx-datagrid-edit-form) .dx-master-detail-cell,
.dx-master-detail-row:not(.dx-datagrid-edit-form) > .dx-datagrid-group-space {
  background: #f9f9f9;
  border-top: 1.2px solid #cfcfcf;

  // .dx-datagrid-nowrap {
  //   white-space: normal !important;
  // }

  td {
    border-color: #ddd !important;
  }

  .dx-datagrid-pager {
    border: 1px solid #ddd;
    padding: 5px 10px;
  }

  .dx-scrollable-wrapper {
    border-bottom: 1px solid #cfcfcf;
  }

  .dx-datagrid-borders .dx-datagrid-rowsview,
  .dx-datagrid-headers + .dx-datagrid-rowsview {
    border-bottom: 0 !important;
  }

  //master detail 그리드 기본 회색 배경
  .dx-datagrid-headers,
  .dx-header-row {
    background-color: #f1efef;
    color: #000;
    font-weight: bold;
  }

  //그리드 짝수 row bg 수정
  .dx-datagrid .dx-row-alt > td,
  .dx-datagrid .dx-row-alt > tr > td {
    background-color: #f7f7f7;
  }

  .dx-field-item-label-content {
    // min-width: 110px;
    width: auto;
    margin-right: 14px;
    color: #000;
    font-size: 12px;
    font-weight: bold;
  }

  .dx-field-item-content {
    display: flex;
    align-items: center;
    width: 100%;
  }

  //master detail 레이아웃
  .dx-field-item-label-content::before {
    content: '• ';
    color: #214885;
  }

  .dx-field-item-content .dx-checkbox-container {
    justify-content: start !important;
    padding: 0 8px;
  }

  .dx-box-item {
    border: 1px solid #e7e7e7;
    border-bottom: 0;

    .dx-field-item-label {
      // height: 32px;
      height: 100%;
      border-right: 1px solid #e7e7e7;
      display: flex;
      align-items: center;
      padding-left: 10px;
      background-color: #f9f9f9;
    }
  }

  .dx-layout-manager .dx-label-h-align.dx-flex-layout:not(.dx-field-item-label-align) {
    align-items: center;
  }

  .dx-box-item:last-child {
    border-bottom: 1px solid #e7e7e7;
  }

  .dx-field-item-content {
    font-size: 12px;
    height: 32px;
  }

  .dx-layout-manager .dx-field-item {
    padding: 0;
  }

  .dx-texteditor-input-container,
  .dx-selectbox,
  .dx-texteditor,
  .dx-textbox,
  .dx-datebox {
    height: 31px;
    width: 100% !important;
  }

  .dx-template-wrapper {
    width: 100%;
  }

  //master 그리드 업로드/삭제 버튼
  .svg-icon {
    height: 1.2rem !important;
    margin: 0 auto;
  }

  .v-btn {
    //background: #ffffff !important;
    border: 1px solid #9e9e9e;
  }

  .v-btn.v-size--default {
    font-size: 11px;
    height: 25px;
    line-height: 1.2;
  }

  .v-icon.v-icon {
    font-size: 16px;
    line-height: 1.3;
  }

  .v-btn__content {
    font-weight: bold;
    line-height: 2;
  }

  //master 그리드 다운로드 버튼
  .download_icon {
    padding-right: 2.2px;
  }
}

.dx-adaptive-detail-row > td,
.dx-adaptive-detail-row > td {
  background: #fff !important;
}

//master detail 그리드 focused 하늘색 배경
.dx-row-focused + .dx-master-detail-row:not(.dx-adaptive-detail-row, .dx-focused) > td:not(.dx-focused) {
  background: #2a436a2b !important;
  .dx-datagrid-headers,
  .dx-header-row {
    background-color: #e9eef3 !important;
  }

  //그리드 짝수 row bg 수정
  .dx-datagrid .dx-row-alt > td,
  .dx-datagrid .dx-row-alt > tr > td {
    background-color: #e9eef342;
  }
}

//master detail 카드 padding-top 수정
.dx-datagrid-rowsview .dx-master-detail-row > .dx-master-detail-cell {
  padding-top: 10px !important;
}

// 트리는 페이지 없애고 총 개수만 남아있게 하는거
.dx-treelist .dx-page-indexes div[role='button'] {
  display: none !important;
}

.dx-treelist .dx-page-indexes .dx-separator {
  display: none !important;
}

.dx-command-select {
  width: 30px !important;
  min-width: 30px !important;
}

//dx-calendar 수정
.dx-calendar-body thead tr th {
  color: #214885;
}

.dx-calendar-cell {
  font-size: 12px;
}

.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-contoured-date,
.dx-calendar-cell.dx-calendar-selected-date.dx-calendar-today.dx-calendar-contoured-date {
  box-shadow: inset 0 0 0 1px #214885, inset 0 0 0 1000px #3b5e93;
}

.dx-calendar-today {
  color: #033075;
}

.dx-calendar-navigator {
  .dx-icon,
  .dx-button-content {
    color: #214885 !important;
  }
  .dx-button {
    border: 0;
  }
}

//focused row icon color 변경
.dx-row:not(.dx-row-focused) {
  .excel_icon {
    color: #217346 !important;
  }
  .jpg_icon {
    color: #e46d09 !important;
  }
  .doc_icon {
    color: #2b579a !important;
  }
  .pdf_icon {
    color: #ff2216 !important;
  }
  .png_icon {
    color: #e99a00 !important;
  }
  .ppt_icon {
    color: #d24726 !important;
  }
  .hwp_icon {
    color: #4289c9 !important;
  }
  .txt_icon {
    color: #21a2bf !important;
  }
  .zip_icon {
    color: #000 !important;
  }
}

.dx-row-focused .file_icon {
  color: #fff !important;
}
// 파일다운로드 아이콘
.download_icon {
  padding-right: 1.18px;
}

// lookup input
.dx-lookup {
  height: 30px;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #9e9e9e !important;
  .dx-lookup-field {
    color: #666666;
  }
  .dx-lookup-arrow {
    transform: rotate(90deg) !important;
  }
}

.dx-dropdowneditor-active {
  border: 2px solid #214885 !important;
}

.dx-toolbar-label {
  font-size: 14px !important;
  font-weight: bold;
}

.dx-lookup-search-wrapper {
  padding: 8px;
}

.dx-popup-normal {
  .dx-button {
    border-radius: 0 !important;
  }
}

// vToastify
.vt-center-center {
  top: 45% !important;
  left: 55% !important;
}

.vt-backdrop-visible {
  background-color: rgba(255, 255, 255, 0.041) !important;
}
.vt-notification {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: none;
  display: flex;
  flex-direction: row-reverse;
  padding: 5px 15px;
  margin-bottom: 0;
  border-radius: 0;
  min-width: 200px;
  min-height: 80px;

  .vt-content {
    min-width: 95px !important;
    .vt-title {
      font-weight: bold;
      font-size: 1.2rem;
      color: #fff !important;
    }
    .vt-paragraph {
      font-size: 0.9rem;
      margin: 0.5rem 0 0 0;
      color: #fff !important;
    }
  }

  .vt-circle {
    width: 48px;
    height: 48px;
  }

  .vt-spinner {
    border: 4px solid rgb(184, 184, 184) !important;
    border-top: 4px solid #fff !important;
    animation: spin 1.5s linear infinite;
    width: 45px;
    height: 45px;
  }
  .vt-icon-container {
    margin: 0;
    margin-right: 18px;
  }

  .vt-buttons button {
    background-color: #fff;
    border: 1px solid #fff !important;
    border-radius: 0;
    margin-top: 10px;
    height: 30px;
  }

  .vt-prompt {
    border-color: #fff !important;
    .vt-icon svg {
      fill: #fff !important;
    }
  }
}

//dx loadPanel
.dx-loadpanel-message {
  font-size: 0.7rem;
  font-weight: bold;
  color: #222;
}

.dx-loadindicator-icon .dx-loadindicator-segment {
  background: #222;
}

//dx popup
.dx-popup-title {
  padding: 6px 10px;
  background-color: rgb(229,235,249);
}

.dx-popup-content {
  padding: 16px;
  min-width: 160px;
}

.dx-popup-bottom.dx-toolbar {
  padding: 10px;
}

// tab
#mainContent {
  .v-tab {
    height: 40px;
    background-color: #fff;
    border-bottom: 1px solid #c6cbd5;
  }
  .v-tab:hover {
    background-color: rgb(116,171,246);
    color: white;
  }

  .v-tabs-bar {
    margin-bottom: 12px;
    width: 99.9%;
    height: 40px;
  }

  .active_tab {
    border-radius: 0;
    color: black;
    font-weight: bold !important;
    background: #fff;
    border-top: 2px solid #214885;
    border-left: 1px solid #c6cbd5;
    border-right: 1px solid #c6cbd5;
    border-bottom: 0;
  }

  .v-tabs-slider-wrapper {
    display: block !important;
    top: 40px;
    color: #fff;
  }

  .v-slide-group__content {
    align-items: center !important;
    height: 40px;
    border-bottom: 1px solid #c6cbd5 ;
  }

  // sub_tab
  .sub_tab .v-tabs-bar {
    margin-bottom: 5px;
  }

  .sub_tab .v-tab {
    height: 100%;
    padding: 0;
    font-size: 13.5px;
    border-bottom: 0;
  }

  .sub_tab .v-tab:not(:last-child) {
    border-right: 1px solid #c6cbd5;
  }

  .sub_tab .active_tab {
    border-radius: 0;
    border: 0;
  }

  .sub_tab .v-tabs-slider-wrapper {
    top: 38.4px;
  }

  .sub_tab .v-tabs-slider {
    width: 100.3%;
  }

  .sub_tab .v-slide-group__content {
    border: 1px solid #c6cbd5;
  }
  .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) {
    color: #000;
    background-color: white;
    border-bottom: 1px solid #c6cbd5 ;
  }
  .v-tabs:not(.v-tabs--vertical) .v-tab {
    white-space: normal;
    background-color: rgb(233,237,253);// rgb(116,171,246);
    border-bottom: 2px solid #2b51eb;
    font-weight:bolder;
    color: #2b51eb;
  }
}

// v-systemBar
.v-system-bar {
  padding: 0 4px;
}

.theme--dark.v-system-bar--lights-out {
  background-color: #ef5350 !important;
}

//반응형 디테일 그리드
.dx-layout-manager.dx-layout-manager-one-col .dx-box-item:not(:first-child) .dx-single-column-item-content > .dx-field-item {
  padding-top: 0px;
}
